/*Global*/

:root {
  font-size: 62.5%;
  --base-font: "Open Sans", sans-serif;
  --header-color: #212343;
  --hero-bg: url(../assets/header_bg.png);
  --form-bg: #fff;
  --form-boder-color: #ccc;
  --form-h2: #999;
  --form-tag: #bbb;
  --form-button: #363a6d;
}

body{
  font-family: var(--base-font);
}

/*header*/
.header{
  width: 100%;
  height: 9rem;
  background-color: var(--header-color);
}

.header img{
  margin: 2.4rem;
}

.center{
  max-width: 128rem;
  margin: 0 auto;
  border: 1px solid red;
}

.container-banner{
  width: 100%;
  height: 56rem;
  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
}

.container-banner > .center{
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.form{
  padding: .8rem;
  width: 40rem;
  height: calc(100% + 3rem);
  position: relative;
  top: -1.5rem;
  border: .8rem solid var(--form-boder-color);
  background-color: var(--form-bg);
}

.form h2{
  font-weight: normal;
  color: var(--form-h2);
  font-size: 2rem;
}

.input-container{
  margin-top: 2rem;
}

.input-container span, .form p{
  display: block;
  color: var(--form-tag);
  font-size: 1.6rem;
}

.form p{
  margin: 3rem 0;
}

.input-container input[type=text]{
  width: 34.4rem;
  height: 5.5rem;
  border: .1rem solid var(--form-boder-color);
}

.form .input-submit-container{
  text-align: center;
}

.form input[type=submit]{
  color: var(--form-bg);
  font-size: 2.6rem;
  border: none;
  width: 28rem;
  height: 5.5rem;
  cursor: pointer;
  background-color: var(--form-button);
}

.form input[type=submit]:hover{
  filter: brightness(0.8);
}